{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h1 class="text-white pb-2 fw-bold">Tweet Detective</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<!-- Number of Tweets *******************************************************************--> 
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body pb-0">
							<div class="card-title">Total Number of Tweets Found for {{search_query1}}</div>
							<div class="px-2 pb-2 pb-md-0 text-center">
								<div class="h1 fw-bold text-warning">{{num_of_tweets1}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-body pb-0">
							<div class="card-title">Total Number of Tweets Found for {{search_query2}}</div>
							<div class="px-2 pb-2 pb-md-0 text-center">
								<div class="h1 fw-bold text-warning">{{num_of_tweets2}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Hashtasgs ************************************************************************** -->
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Popular Hashtasgs for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{hashtag_plot1}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Popular Hashtasgs for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{hashtag_plot2}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
			</div>
			<!-- Sentiment Analysis ************************************************************* -->
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Sentiment Analysis Summary for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{sentiment_plot1}}  style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Sentiment Analysis Summary for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{sentiment_plot2}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
			</div>
			<!-- Negative Positive Tweets ****************************************************8 -->
			<div class="row">
				<div class="col-md-3">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">The Most Positive Tweets for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets1_1}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets1_2}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets1_3}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets1_4}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets1_5}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">The Most Negative Tweets for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets1_1}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets1_2}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets1_3}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets1_4}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets1_5}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">The Most Positive Tweets for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets2_1}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets2_2}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets2_3}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets2_4}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-success">{{top_positive_tweets2_5}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">The Most Negative Tweets for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets2_1}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets2_2}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets2_3}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets2_4}}</span>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1">
									<span class="text-danger">{{top_negative_tweets2_5}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- Topic Count************************************************************* -->
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topics Count for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_count_1}}  style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topics Count for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_count_2}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
			</div>
			<!-- WordCloud ******************************************************************************8 -->
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 1 Most Popular Words for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_1_1}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 2 Most Popular Words for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_1_2}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 1 Most Popular Words for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_2_1}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 2 Most Popular Words for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_2_2}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 3 Most Popular Words for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_1_3}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 4 Most Popular Words for {{search_query1}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_1_4}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 3 Most Popular Words for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_2_3}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Topic 4 Most Popular Words for {{search_query2}}</div>
								<div class="card-tools">
								</div>
							</div>
						</div>
						<div class="card-body">
							<img src={{topic_wordcloud_2_4}} style="max-width: 100%; height: auto;">
						</div>
					</div>
				</div>
			</div>

			<!-- Map ************************************************************************************************** -->
			<div class="row row-card-no-pd">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title">Tweets Geolocation  ----In Progress-----</h4>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span
											class="fa fa-sync-alt"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
								</div>
							</div>
							<p class="card-category">
								Map of the distribution of Tweets in North America</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="table-responsive table-hover table-sales">
										<table class="table">
											<tbody>
												<tr>
													<td>New York</td>
													<td class="text-right">
														2.320
													</td>
													<td class="text-right">
														42.18%
													</td>
												</tr>
												<tr>
													<td>Toronto</td>
													<td class="text-right">
														240
													</td>
													<td class="text-right">
														4.36%
													</td>
												</tr>
												<tr>
													<td>Washington</td>
													<td class="text-right">
														119
													</td>
													<td class="text-right">
														2.16%
													</td>
												</tr>
												<tr>
													<td>Los Angeles</td>
													<td class="text-right">
														1.081
													</td>
													<td class="text-right">
														19.65%
													</td>
												</tr>
												<tr>
													<td>Montreal</td>
													<td class="text-right">
														1.100
													</td>
													<td class="text-right">
														20%
													</td>
												</tr>
												<tr>
													<td>Vancouver</td>
													<td class="text-right">
														640
													</td>
													<td class="text-right">
														11.63%
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mapcontainer">
										<div id="map-example" class="vmap"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- for the map part -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
