{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/static/assets/img/tweet_detective_logo.jpg" style="max-width: 100%; height: auto; float:right">
                    </div>
                    <div class="col-md-4">
                        <h1 class="text-white pb-2 fw-bold"> Tweet Detective</h1>
                        <h4 class="text-white pb-2">Tweet Detective is a web application that provides deep insights about the most recent tweets containing the search
                        terms user desires. It identifies and plots the most popular hashtags. Sentiment analysis is performed to find the
                        sentiment score of each tweet and displaying the most positive and the most negative tweets found, followed by topic
                        modeling in order to highlight the hot topics discussed. The most important words for each identified topic are
                        illustrated.
                        </h4>
                    </div>

                </div>
                <div>
            </div>
        </div>
    </div>
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                <h4 class="text-white pb-2 fw-bold" >Please submit your search term(s) below</h4>
                                <h4 class="text-white pb-2">For instance, you can search for Walmart vs Costco, RBC vs Scotia, 
                                    McDonald vs Tim Hortons, or your favorite Netflix movies and shows.</h4>
                            </span>
                        </div>
                    </div>

                    <form method="post" action="#">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            </div>
                                            <input type="text" class="form-control" id="search1" name="search1" placeholder="Search1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            </div>
                                            <input type="text" class="form-control" id="search2" name="search2" placeholder="Search2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <h4 class="text-white pb-2"> ........................</h4>
                            <h4 class="text-white pb-2">Please wait a few decades for the tweets to be scraped and analyzed!
                            </h4>
                            <h4 class="text-white pb-2">Just kidding, it only takes about a minute …</h4>
                        </div>

                    </form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">Author</div>
                                        <div class="card-tools">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <img src="/static/assets/img/SA-ph.jpg" style="width:200px;height:200px; float:left" >
                                </div>
                                <div class="card-body">
                                    <div class="username">
                                        <h4>Sara Alizadeh</h4>
                                    </div>
                                    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/sara-alizadeh72/">
                                        Linkedin
                                    </a>
                                    <a class="nav-link" target="_blank" href="https://github.com/saro0o00oo">
                                        GitHub
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title"> Author</div>
                                        <div class="card-tools">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <img src="/static/assets/img/SL-ph2.png" style="width:200px;height:200px; float:left" >
                                </div>
                                <div class="card-body">
                                    <div class="username">
                                        <h4>Shayan Liaghat</h4>
                                    </div>
                                    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/shayanliaghat/">
                                        Linkedin
                                    </a>
                                    <a class="nav-link" target="_blank" href="https://github.com/ShayanLiaghat">
                                        GitHub
                                    </a>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
