
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						
								<div class="card-title fw-mediumbold">Authors</div>
								<div class="card-list">
									<div class="item-list">
										<div class="info-user ml-3">
											<div class="username">
												<h5>Sara Alizadeh</h5>
											</div>
										</div>
									</div>
									<div class="item-list">
										<div class="info-user ml-3">
											<div class="username">
												<h5>Shayan Liaghat</h5>
											</div>
										</div>
									</div>
									
								</div>
						
						<!-- <ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://appseed.us/admin-dashboards/flask-dashboard-atlantis-dark">
									Sara Alizadeh
								</a>
								<a class="nav-link" 
                                   target="_blank" 
                                   href="https://appseed.us/admin-dashboards/flask-dashboard-atlantis-dark">
									Shayan Liaghat
								</a>
							</li>
						</ul> -->
					</nav>
					<!-- <div class="copyright ml-auto">
                        &copy; <a target="_blank" href="https://www.themekita.com">ThemeKita</a> 
                        - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
					</div>				 -->
				</div>
            </footer>
            